<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>x</title>
    <style>
        /* Buraya CSS stilleri eklenebilir */
        body {
            font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f4f4f4;
            color: #333;
            text-align: center;
        }
        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 200px;
            background-color: #000000;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #ffffff;
        }
        a {
            color: #ff0000;
            text-decoration: none;
            font-weight: bold;
            color: #00ff37;
            text-decoration: none;
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>sizi seviyorum raziye hocam<33333 </h1>
        <p>sizi seviyorum raziye hocam<3333.</p>
        <p>
            <a href="https://www.google.com" target="_blank">ONAYLA   </a>

            <a href="https://www.google.com" target="_blank">   REDDET</a>
        </p>
    </div>
</body>
</html> 


